<% if (error.length) { %>
    <div class="w3-panel w3-leftbar w3-pale-red w3-border-red" >
        <p><%= error %></p>
    </div>
<% } %>
<% if (success.length) { %>
    <div class="w3-panel w3-leftbar w3-pale-green w3-border-green" >
        <p><%= success %></p>
    </div>
<% } %>