<footer class="w3-dark-gray">
    <div style="text-align: center;">
        <a href="https://github.com/thuanhong" class="w3-padding-large" style="display: inline-block;" target="_blank">
            <i class='fab fa-github' style='font-size:24px'></i>
        </a>
        <a href="https://www.linkedin.com/in/thuan-hong-48b22618b/" class="w3-padding-large" style="display: inline-block;" target="_blank">
            <i class="fab fa-linkedin" style='font-size:24px'></i>
        </a>
    </div>
</footer>
<script src="/javascripts/script.js"></script>