div.w3-container.w3-center > img {
    height: 20vh;
    width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

main {
  margin-bottom: 32px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}