<!doctype html>
<html>
    <% include ../layouts/head %>
    <body>
        <% include ../layouts/header %>
        <main>
            <center>
                <h1>Internal Server Error</h1>
                <p>We're fixing error, sorry about this</p>
            </center>
        </main>
    </body>
</html>