<!doctype html>
<html>
    <% include ../layouts/head %>
    <body>
        <% include ../layouts/header %>
        <main>
            <center>
                <h3>404 not found</h3>
            </center>
        </main>
    </body>
</html>