<!DOCTYPE html>
<html>
<% include ../layouts/head.ejs %>

<body>
  <% include ../layouts/header.ejs%>
  <main class="w3-container w3-display-container">
    <div class="w3-col m6 w3-display-topmiddle">
      <% if (products.length > 0) { %>
      <ul class="w3-ul">
        <% products.forEach(product => { %>
        <li class="w3-card-2 w3-margin">
          <form class="w3-row" method="post" action="/cart-delete">
            <p class="w3-col m4">Title : <%= product.title %></p>
            <p class="w3-col m4">Quantity : <%= product.quantity %></p>
            <input type="hidden" name="productId" value="<%= product._id %>" />
            <button type="submit" style="margin-top: 1vh" ; class="w3-col m4 w3-button w3-red">Delete</button>
          </form>
        </li>
        <% }) %>
      </ul>
      <hr />
      <div class="w3-display-container">
        <form action="/order" method="post">
          <button type="submit">Submit</button>
        </form>
      </div>
      <% } else { %>
      <h3 class="w3-display-topmiddle">No products in cart</h3>
      <% } %>
    </div>

  </main>
</body>

</html>