<!DOCTYPE html>
<html>
    <% include ../layouts/head %>
    <body>
        <% include ../layouts/header %>
        <main class="w3-display-container">
            <% if (orders.length > 0) { %>
                <ul class="w3-ul w3-card-4 w3-display-topmiddle" style="width: 50%">
                    <% orders.forEach(order => { %>
                        <li>
                            <h3><%= order._id %></h3>
                            <ul>
                                <% order.products.forEach(item => { %>
                                    <li>Title: <%= item.product.title %> | Quantity: <%= item.quantity %></li>
                                <% }) %>
                            </ul>
                        </li>
                    <% }) %>
                </ul>
            <% } else { %>
                <center><h2>Not found order</h2></center>
            <% } %>
        </main>
        <% include ../layouts/footer %>
    </body>
</html>